@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(90deg, #A100FF, #119CFD);
}

h1, span, button {
  font-family: "Raleway", sans-serif;
}

h1 {
  margin: 50px;
}

.txt-wr {
  width: 90%;
  text-align: left;
  
  margin-top: 20px;
  
  margin-left: 50%;
  transform: translateX(-50%);
}

textarea {
  width: 100%;
  height: 100px;
  
  margin-top: 10px;
  border-radius: 5px;
  
  padding: 10px;
  
  font-family: "Consolas", sans-serif;
  
  resize: none;
}

textarea#output:focus {
  border: 1px solid black;
}

.out-wrapper {
  display: flex;
  
  width: 100%;
  height: 100vh;
  
  align-items: center;
  justify-content: center;
}

.wrapper {
  background-color: white;
  
  width: 60%;
  height: 80vh;
  
  border-radius: 20px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 40%);
  
  text-align: center;
}

button#copy {
  padding: 5px 10px;
  margin-left: 10px;
  
  text-transform: uppercase;
  
  background-color: white;
  color: black;
  
  border: 1px solid black;
  outline: none;
  
  font-weight: bold;
  letter-spacing: 2px;
  
  border-radius: 10px;
  
  transition: background-color 0.2s, color 0.2s;
}

button#copy:hover {
  background-color: black;
  color: white;
}